<div class="container py-3 clearfix">
  {{#each data}}
    <h3 text="black">{{name}}</h3>
    <p class="text-black-50">by
      {{author}}
      in
      <a href="#">{{category.name}}</a>
      on
      {{formatDate date}}
      <a href="#comment">Comments ({{comments.length}})</a>
    </p>
    <img src="{{thumbpath}}" alt="{{name}}" class="float-start me-3" />
    <div class="text-black-50">{{{description}}}</div>
    <a href="#" name="comment"></a>

    <div class="py-3" id="comment-input">
      <h3>Leave your comments</h3>
      <form
        action="#"
        method="post"
        class="text-black-50"
        onsubmit="sendComment(event)"
      >
        <input id="id" type="hidden" value="{{id}}" />
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label for="name" class="form-label">Name (Required)</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                aria-describedby="helpId"
                placeholder=""
                required
              />
            </div>
          </div>

          <div class="col-4">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="helpId"
                placeholder=""
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              />
            </div>
          </div>
        </div>

        <div class="mb-3">
          <textarea
            class="form-control"
            name="message"
            id="message"
            rows="3"
            placeholder="Enter your message here"
            required
          ></textarea>
        </div>

        <div class="row">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id=""
              value="1"
              name="agree-terms"
              required
            />
            <label class="form-check-label" for="">Agree to terms and conditions</label>
          </div>
          <div class="col text-end">
            <button type="submit" class="btn btn-link">Submit Comment</button>
          </div>
        </div>
      </form>
      <div class="justify-content-centet" id=""></div>
    </div>

    <div class="text-white-50 bg-dark p-2">Comments ({{comments.length}})</div>
    {{#each comments}}
      <div class="" id="comment-show">
        <div class="text-black-50 p-2">
          <p>{{name}}
            &nbsp; &nbsp;{{formatDate date}}</p>
          <p>{{summary}}</p>
          <br />
          <hr />
        </div>
      </div>
    {{/each}}
  {{/each}}
</div>